<div class="modal-content">
    <div class="row">
        <div class="col s6">
                <div class="card-body">
                    <h2 class="modal-card-title">{{ recipeDetails.name ?? '' }}</h2>
                    <p id="modal-card-text">
                        {{ recipeDetails.description ?? '' }}
                    </p>
                </div>
        </div>
        <div class="col s6">
            <div class="row">
                <img src="{{ asset(recipeDetails.image ?? 'uploads/webkuvar.png' ) }}" alt="{{ recipeDetails.image ?? '' }}" class="card-img-right" draggable="false">
            </div>
            <div class="row">
                <a class="modal-close waves-effect waves-light btn btn-add" id="btn-add" data-id="{{ recipeDetails.id ?? '' }}">Dodaj u korpu</a>
            </div>
        </div>
    </div>
</div>



