<div class="card card-recipe"  data-id="{{ recipe.id }}"   onclick="displayRecipeDetails(this)">

    <div class="row">
        <div class="card-body">
            <h2 class="card-title">{{ recipe.name }}</h2>
            <p id="card-text">
                {{ recipe.description }}
            </p>
        </div>
    </div>
    <div class="row img-row">
        <img src="{{ asset(recipe.image) }}" alt="{{ recipe.image }}" class="card-img-top" draggable="false">
    </div>
</div>


